[class$="square"] {
    transition: all 1s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: all 0.3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square:hover {
    background-color: transparent;
}

.ex-5-square:hover {
    margin: 0;
    height: 100px;
    width: 100px;
}

.ex-6-img:hover {
    filter: grayscale();
}

.ex-7-img:hover {
    filter: brightness(0.7) sepia(0.6);
    transition: all 1s; 
}

.ex-8-img:hover {
    filter: brightness(0.7) grayscale(0.7);
    border-radius: 20px;
    transition: 1s;
}

.ex-9-img:hover {
    filter: brightness(0.7) grayscale(0.7);
    border-radius: 20px;
    margin: 0%;
    width: 577px;
    transition: 1s;
}

.ex-10-icon {
    animation-name: rotate_inf;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes rotate_inf {
    0% {transform: rotate(0deg);}
    10%{transform: rotate(-36deg);}
    20%{transform: rotate(-72deg);}
    30%{transform: rotate(-108deg);}
    40%{transform: rotate(-144deg);}
    50%{transform: rotate(-180deg);}
    60%{transform: rotate(-216deg);}
    70%{transform: rotate(-252deg);}
    80%{transform: rotate(-288deg);}
    90%{transform: rotate(-324deg);}
    100%{transform: rotate(-360deg);}
}

.ex-11-icon:hover {
    animation-name: rotate;
    animation-duration: 1s;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    10%{transform: rotate(36deg);}
    20%{transform: rotate(72deg);}
    30%{transform: rotate(108deg);}
    40%{transform: rotate(144deg);}
    50%{transform: rotate(180deg);}
    60%{transform: rotate(216deg);}
    70%{transform: rotate(252deg);}
    80%{transform: rotate(270deg);}
    100%{transform: rotate(0deg);}
}